.DS_Store
node_modules
/dist

# local env files
/server/.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Credentials
config.json

# temp file
/server/temp/

# Deploy package
/lambda-s3/function.zip

# Dummy image
/lambda-s3/*.jpg

# Test event data
/lambda-s3/*.txt
